<div>

  <form [formGroup]="ResetPass" (ngSubmit)="ResetPassSubmit(ResetPass)" >

    <div class="mb-3">
      <label> email</label>
    <input formControlName="email"  type="email" class=" form-control">
    <div *ngIf="ResetPass.get('email')?.errors&&ResetPass.get('email')?.touched">
      <p class="alert alert-danger" *ngIf="ResetPass.get('email')?.getError('required')">invalid required</p>
      <p class="alert alert-danger" *ngIf="ResetPass.get('email')?.getError('email')">invalid email</p>
    </div>
    </div>
    <div class="mb-3">
      <label>new password</label>
    <input formControlName="newPassword"  type="password" class=" form-control" >
    <div *ngIf="ResetPass.get('newPassword')?.errors&&ResetPass.get('newPassword')?.touched">
      <p class="alert alert-danger" *ngIf="ResetPass.get('newPassword')?.getError('required')">invalid required</p>
      <p class="alert alert-danger" *ngIf="ResetPass.get('newPassword')?.getError('pattern')">invalid password</p>
    </div>

    </div>


    <button [disabled]="ResetPass.invalid"class="btn btn-info">submit</button>

  </form>
</div>
