<div class="forgetform">
  <form class="mt-5" [formGroup]="forgetPassword" (ngSubmit)=" forgetpasswordsubmit(forgetPassword)">
    <label >Enter email</label>
    <input formControlName="email" class="form-control" type="email" >
    <div *ngIf="forgetPassword.get('email')?.errors&& forgetPassword.get('email')?.touched">
      <p class="alert alert-danger" *ngIf="forgetPassword.get('email')?.getError('required')">
        email required
      </p>
      <p class="alert alert-danger" *ngIf="forgetPassword.get('email')?.getError('email')">
        not valid email
      </p>
    </div>
    <button [disabled]="forgetPassword.invalid" class="btn btn-info mt-2">send email</button>
  </form>
</div>

<div class="reset d-none">
  <form [formGroup]="ResetPass" (ngSubmit)="Resetpasssubmit(ResetPass)">
    <label>reset password</label>
    <input formControlName="resetCode" type="text" class="form-control">
    <div *ngIf="ResetPass.get('resetCode')?.errors&& ResetPass.get('resetCode')?.touched">
      <p class="alert alert-danger" *ngIf="ResetPass.get('resetCode')?.getError('required')">
        invalid required
      </p>
      <p class="alert alert-danger" *ngIf="ResetPass.get('resetCode')?.getError('pattern')">
        not valid number
      </p>

    </div>
    <p *ngIf="resetMessage" class="alert alert-danger">{{resetMessage}}</p>
    <button [disabled]="ResetPass.invalid"  class="btn btn-info">verify password</button>
  </form>
</div>
